{% extends('layout.html.twig') %}

{% block body %}

	<div class="container">
		<div class="">
			<div class="page-header margin-none">
				<h2 class="padding-none">Gallery<br /></h2>
			</div>
			<div class="table-responsive">
<table class="table table-striped table-hover">
    {% for image in images %}
        {% for filename in image.filenames|split(' ') %}
            {% if filename|length > 0 %}
               <tr><td align="center"><img src="{{asset('uploads/gallery/' ~ filename)}}" width=300 /></td></tr><br />
            {% endif %}
        {% endfor %} 
    {% endfor %}
</table>
</div>
</div>
</div>
{%endblock %}